.section {
  margin-top: 0px;
  background-image: url('../images/img-01-topo.png');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.image {
  margin-right: auto;
  margin-left: auto;
}

.image-2 {
  display: block;
  width: 400px;
  height: 400px;
  margin: 20px auto 10px;
  background-color: transparent;
}

.image-3 {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: auto;
  margin-left: auto;
}

.rich-text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.grid {
  grid-auto-flow: row;
  grid-template-areas: "Area Area-2"
    "Area-4 Area-3";
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.link {
  clear: none;
  direction: ltr;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  white-space: normal;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.image-4 {
  display: block;
  text-align: left;
}

.link-2 {
  text-decoration: none;
}

.image-5 {
  display: block;
  margin-right: auto;
  margin-left: 430px;
  border: 0px solid #000;
}

.image-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 10px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-7 {
  margin-left: 100px;
}

.link-block {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-8 {
  margin-left: 27px;
}

.link-block-2 {
  margin-left: -10px;
}

.link-3 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-decoration: none;
}

.link-4 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-decoration: none;
}

.link-5 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-decoration: none;
}

.link-6 {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-family: Montserrat, sans-serif;
  color: #fff;
  text-decoration: none;
}

.image-9 {
  margin-left: 80px;
}

.image-10 {
  margin-left: 145px;
}

.link-block-3 {
  margin-left: -29px;
  padding-left: 0px;
}

.image-11 {
  margin-left: 0px;
}

.container-3 {
  margin-top: 10px;
}

.link-block-4 {
  margin-left: 0px;
}

.container-4 {
  margin-top: -1px;
  margin-bottom: -47px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fffefe;
  font-size: 18px;
  text-align: center;
}

.heading {
  font-family: Montserrat, sans-serif;
  color: #ffc30a;
  font-size: 20px;
  text-align: center;
}

.text-block-2 {
  display: block;
  margin-bottom: 130px;
  padding-right: 114px;
  padding-left: 114px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 26px;
  font-style: normal;
  text-align: center;
}

.bold-text {
  line-height: 10px;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.italic-text {
  font-size: 20px;
}

.text-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.heading-2 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.div-block {
  display: block;
  width: 200px;
  margin-top: -55px;
  margin-left: 20px;
  padding-top: 20px;
  padding-bottom: 19px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 12px -5px #000;
  text-decoration: none;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-12 {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.list {
  position: static;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  list-style-type: disc;
}

.image-13 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-14 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-15 {
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #224f95;
}

.text-block-4 {
  display: block;
  margin-top: -10px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #848282;
  text-align: center;
}

.heading-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-decoration: none;
}

.section-2 {
  margin-left: 0px;
  background-image: url('../images/img-02-marmore.png');
  background-position: 0px 0px;
  background-size: auto;
  font-size: 15px;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.text-block-5 {
  margin-top: -10px;
  padding-right: 20px;
  padding-left: 20px;
  font-family: Montserrat, sans-serif;
  color: #848282;
  text-align: center;
}

.heading-5 {
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-align: center;
}

.paragraph {
  padding-right: 60px;
  padding-left: 60px;
  font-family: Montserrat, sans-serif;
  color: #064c92;
  font-size: 20px;
  text-align: center;
}

.heading-6 {
  margin-top: 56px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-align: center;
}

.button {
  border-radius: 19px;
  opacity: 1;
}

.button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 51px 250px 77px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #ffc30a;
  background-image: linear-gradient(97deg, #ffc30a 54%, #efcb5e);
  box-shadow: 1px 1px 15px -5px #000;
  font-family: Arista2, sans-serif;
  color: #253855;
  font-size: 26px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  white-space: normal;
}

.bold-text-2 {
  font-family: Arista2, sans-serif;
  font-size: 20px;
}

.section-3 {
  background-image: url('../images/img-03-urbano.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.block-quote {
  color: #fff;
}

.heading-7 {
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Montserrat, sans-serif;
  color: #fffdfd;
  text-align: center;
}

.container-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-16 {
  display: block;
  width: 5px;
  height: 70px;
  margin-top: 20px;
  margin-right: -220px;
  margin-left: auto;
  text-align: center;
}

.heading-8 {
  padding-left: 200px;
  color: #fff;
}

.paragraph-2 {
  margin-right: 130px;
  margin-left: 200px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 17px;
}

.paragraph-3 {
  margin-right: 130px;
  margin-bottom: 50px;
  margin-left: 200px;
  padding-right: 22px;
  padding-left: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 17px;
}

.button-3 {
  display: block;
  margin-right: 250px;
  margin-bottom: 37px;
  margin-left: 250px;
  border-radius: 20px;
  background-image: linear-gradient(100deg, #ffc30a 53%, #efcb5e);
  box-shadow: 2px 0 15px -5px #000;
  font-family: Arista2, sans-serif;
  color: #253855;
  font-size: 26px;
  text-align: center;
}

.bold-text-3 {
  font-family: Arista2, sans-serif;
  font-size: 20px;
}

.section-4 {
  background-image: url('../images/img-04.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  box-shadow: 1px 1px 3px 0 #000;
  text-align: center;
}

.image-17 {
  margin-bottom: -255px;
}

.paragraph-4 {
  margin-bottom: 29px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  font-size: 20px;
  text-align: center;
}

.heading-9 {
  margin-top: 59px;
  margin-bottom: 40px;
  padding-right: 130px;
  padding-left: 130px;
  font-family: Montserrat, sans-serif;
  color: #064c92;
  text-align: center;
}

.button-4 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.button-5 {
  margin-top: 23px;
  margin-bottom: 62px;
  border-radius: 20px;
  background-image: linear-gradient(72deg, #ffc30a 54%, #efcb5e);
  box-shadow: 1px 1px 15px -5px #000;
  font-family: Arista2, sans-serif;
  color: #253855;
  font-size: 20px;
}

.section-5 {
  background-image: url('../images/img-05-rural.png');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.list-2 {
  font-family: Montserrat, sans-serif;
  color: #224f95;
}

.list-item {
  color: #224f95;
}

.bold-text-4 {
  color: #848282;
}

.bold-text-5 {
  color: #224f95;
}

.list-item-2 {
  color: #224f95;
}

.list-item-3 {
  color: #848282;
}

.list-item-4 {
  color: #224f95;
}

.bold-text-6 {
  color: #224f95;
}

.bold-text-7 {
  color: #224f95;
}

.bold-text-8 {
  color: #224f95;
}

.bold-text-9 {
  color: #fff;
}

.bold-text-10 {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.bold-text-11 {
  color: #ffc30a;
}

.bold-text-12 {
  font-size: 26px;
}

.paragraph-5 {
  margin-top: 35px;
  padding-right: 100px;
  padding-left: 100px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.div-block-2 {
  background-image: radial-gradient(circle farthest-corner at 50% 50%, rgba(28, 177, 50, 0.75) 41%, rgba(14, 97, 27, 0.51) 62%);
}

.heading-10 {
  padding-right: 140px;
  padding-left: 140px;
  text-align: center;
}

.heading-11 {
  margin-top: 52px;
  font-family: Arista2, sans-serif;
  color: #fff;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
}

.bold-text-13 {
  font-size: 40px;
}

.heading-12 {
  font-family: Montserrat, sans-serif;
  color: #ffc30a;
  font-size: 22px;
  text-align: center;
}

.heading-13 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.heading-14 {
  color: #ffeded;
  text-align: center;
}

.bold-text-14 {
  color: #ffd658;
}

.bold-text-15 {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
}

.container-7 {
  margin-top: 10px;
}

.heading-15 {
  margin-top: 29px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #439812 15%, hsla(0, 0%, 100%, 0) 57%);
  font-family: Arista2, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.bold-text-16 {
  font-family: Arista2, sans-serif;
  line-height: 21px;
}

.image-18 {
  display: block;
  width: 340px;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
}

.button-6 {
  display: block;
  margin: 20px 400px 27px;
  padding-right: 25px;
  padding-left: 15px;
  border-radius: 20px;
  background-image: linear-gradient(86deg, #ffc30a, #efcb5e);
  box-shadow: 1px 1px 15px -5px #000;
  font-family: Arista2, sans-serif;
  color: #224f95;
  font-size: 26px;
  text-align: center;
}

.bold-text-17 {
  color: #064c92;
  font-size: 30px;
  text-align: center;
}

.section-6 {
  margin-right: -3px;
  background-image: url('../images/img-06-contato.png');
  background-position: 0px 0px;
  background-size: cover;
  background-attachment: scroll;
}

.heading-16 {
  margin-top: 48px;
  margin-left: 124px;
  font-family: Arista2, sans-serif;
  color: #064c92;
  font-size: 40px;
  text-align: center;
}

.paragraph-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-right: 0px;
  padding-right: 343px;
  padding-left: 241px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  font-family: Montserrat, sans-serif;
  color: #224f95;
}

.text-field {
  border-style: solid;
  border-width: 3px;
  border-color: #224f95;
  border-radius: 20px;
}

.textarea {
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 22px;
  border-style: solid;
  border-width: 3px;
  border-color: #224f95;
  border-radius: 20px;
}

.container-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 23px;
  margin-right: 0px;
  margin-left: -300px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.submit-button {
  margin-top: 3px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc30a), color-stop(78%, #efcb5e));
  background-image: linear-gradient(180deg, #ffc30a, #efcb5e 78%);
  box-shadow: 1px 1px 15px -8px #000;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  font-weight: 800;
}

.heading-17 {
  margin-top: 28px;
  direction: ltr;
  font-family: Arista2, sans-serif;
  color: #ffc30a;
  font-size: 39px;
  text-align: center;
  letter-spacing: 2px;
  white-space: normal;
}

.text-field-2 {
  width: 300px;
  margin-right: auto;
  margin-bottom: 9px;
  margin-left: auto;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #224f95;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0);
  font-family: Montserrat, sans-serif;
  color: #064c92;
}

.submit-button-2 {
  margin-top: 18px;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc30a), color-stop(67%, #efcb5e));
  background-image: linear-gradient(180deg, #ffc30a, #efcb5e 67%);
  box-shadow: 1px 1px 15px -8px #000;
  font-family: Montserrat, sans-serif;
  color: #064c92;
  font-weight: 800;
  text-align: left;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: 86px;
  margin-left: 185px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.textarea-2 {
  width: 300px;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 #224f95;
  background-color: hsla(0, 0%, 100%, 0);
  font-family: Montserrat, sans-serif;
}

.image-19 {
  display: block;
  margin-top: 24px;
  margin-right: auto;
  margin-left: 107px;
}

.container-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
}

.link-7 {
  display: block;
  margin-top: 8px;
  margin-bottom: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-20 {
  margin-right: 0px;
}

.container-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-21 {
  margin-left: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-block {
  margin-bottom: 31px;
  margin-left: 61px;
  padding-right: 76px;
}

.section-7 {
  background-color: #064c92;
}

.text-block-6 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Montserrat, sans-serif;
  color: snow;
  text-align: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-22 {
  margin-top: 6px;
  margin-bottom: 27px;
}

.image-23 {
  display: block;
  margin-top: 47px;
}

.image-24 {
  margin-top: 6px;
}

.image-25 {
  margin-top: 6px;
}

.image-26 {
  margin-top: 6px;
}

.container-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-3 {
  margin-top: 6px;
  margin-bottom: 29px;
}

.div-block-4 {
  padding-right: 10px;
  padding-left: 0px;
}

.columns {
  margin-right: 0px;
}

.column-3 {
  padding-right: 0px;
}

.div-block-5 {
  margin-top: 34px;
}

.div-block-6 {
  margin-top: 6px;
}

.div-block-7 {
  margin-top: 6px;
  font-family: Montserrat, sans-serif;
}

.div-block-8 {
  margin-top: 6px;
}

.bold-text-18 {
  padding-right: 16px;
  text-decoration: none;
}

.link-8 {
  margin-left: 3px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-decoration: none;
}

.bold-text-19 {
  margin-left: 3px;
  font-family: Montserrat, sans-serif;
  color: #064c92;
  text-decoration: none;
}

.bold-text-20 {
  margin-left: 3px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-decoration: none;
}

.bold-text-21 {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.link-9 {
  margin-left: 3px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-decoration: none;
}

.link-10 {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
}

.link-11 {
  text-decoration: none;
}

.link-12 {
  margin-left: 3px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-decoration: none;
}

.link-13 {
  margin-left: 3px;
  font-family: Montserrat, sans-serif;
  color: #224f95;
  text-decoration: none;
}

.link-block-5 {
  text-decoration: none;
}

.list-item-5 {
  color: #848282;
}

.list-item-6 {
  color: #224f95;
}

.success-message {
  margin-top: 40px;
  margin-right: -27px;
  margin-left: -222px;
  padding-left: 20px;
}

.error-message {
  margin-right: -33px;
  margin-left: -201px;
}

.error-message-2 {
  margin-left: 120px;
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: 0px;
  }

  .div-block {
    margin-left: 9px;
    padding-right: 11px;
    padding-bottom: 14px;
  }

  .container-5 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }

  .heading-5 {
    margin-top: 39px;
  }

  .image-16 {
    margin-right: -108px;
  }

  .image-17 {
    margin-bottom: -221px;
  }

  .button-6 {
    margin-right: 250px;
    margin-left: 250px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .section-6 {
    background-position: 100% 50%;
  }

  .paragraph-6 {
    padding-left: 17px;
  }

  .text-field {
    margin-top: 0px;
  }

  .form {
    margin-top: 28px;
  }

  .form-block {
    margin-right: -56px;
    margin-left: -76px;
  }

  .div-block-5 {
    margin-top: 48px;
    margin-left: -34px;
  }

  .success-message {
    margin-top: 87px;
    margin-right: 21px;
    margin-left: -319px;
  }

  .error-message {
    margin-right: 31px;
    margin-left: -264px;
  }

  .error-message-2 {
    margin-left: 164px;
  }

  .success-message-2 {
    margin-top: 73px;
    margin-left: 172px;
  }
}

@media screen and (max-width: 767px) {
  .container-2 {
    padding-left: 0px;
  }

  .link-4 {
    margin-bottom: 10px;
    margin-left: 33px;
  }

  .link-6 {
    margin-left: 18px;
  }

  .link-block-3 {
    margin-left: -50px;
  }

  .italic-text {
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .div-block {
    margin-right: 20px;
    margin-bottom: 76px;
    margin-left: 0px;
  }

  .container-5 {
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .button-2 {
    margin-right: 160px;
    margin-left: 160px;
  }

  .heading-7 {
    margin-left: 113px;
    padding-left: 0px;
  }

  .container-6 {
    padding-left: 0px;
  }

  .image-16 {
    margin-left: 31px;
    padding-left: 0px;
  }

  .paragraph-2 {
    margin-right: 0px;
    margin-left: 50px;
  }

  .paragraph-3 {
    margin-right: 0px;
    margin-left: 49px;
  }

  .button-3 {
    margin-right: 160px;
    margin-left: 160px;
  }

  .heading-9 {
    margin-bottom: 24px;
    margin-left: 1px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .bold-text-10 {
    margin-left: -146px;
  }

  .button-6 {
    margin-right: 200px;
    margin-left: 200px;
  }

  .section-6 {
    background-position: 100% 50%;
  }

  .heading-16 {
    margin-left: 0px;
  }

  .paragraph-6 {
    margin-left: 0px;
    padding-right: 296px;
    padding-left: 24px;
  }

  .textarea {
    padding-left: 15px;
  }

  .form {
    margin-top: 45px;
    margin-right: 10px;
    margin-left: -268px;
  }

  .text-field-2 {
    margin-left: 5px;
  }

  .form-2 {
    margin-right: 76px;
    margin-left: 183px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .form-block {
    margin-right: -5px;
    margin-left: -170px;
  }

  .div-block-5 {
    margin-top: 61px;
    margin-bottom: 16px;
    margin-left: -122px;
  }

  .success-message {
    margin-top: 157px;
    margin-right: 27px;
    margin-left: -288px;
  }

  .error-message-2 {
    margin-right: 55px;
    margin-left: 188px;
  }

  .success-message-2 {
    margin-right: 76px;
    margin-bottom: 0px;
    margin-left: 195px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    background-position: 100% 100%;
  }

  .image-2 {
    width: 300px;
    height: 300px;
  }

  .link-3 {
    margin-left: -5px;
  }

  .image-11 {
    margin-right: 23px;
  }

  .link-block-4 {
    margin-left: -88px;
  }

  .text-block-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .italic-text {
    margin-left: 0px;
  }

  .paragraph {
    margin-top: 19px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .button-2 {
    margin-right: 60px;
    margin-left: 60px;
  }

  .heading-7 {
    margin-right: -7px;
    margin-left: 62px;
  }

  .button-3 {
    margin-right: 60px;
    margin-left: 60px;
  }

  .paragraph-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-9 {
    margin-right: 5px;
    margin-left: 5px;
  }

  .paragraph-5 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-18 {
    width: 300px;
  }

  .button-6 {
    margin-right: 36px;
    margin-left: 36px;
  }

  .section-6 {
    background-position: 50% 50%;
  }

  .paragraph-6 {
    margin-top: 26px;
    padding-right: 17px;
    padding-left: 14px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .container-8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form {
    margin-top: 37px;
    margin-right: 27px;
    margin-left: 16px;
  }

  .text-field-2 {
    margin-left: 0px;
  }

  .submit-button-2 {
    margin-left: -37px;
  }

  .form-2 {
    margin-right: 0px;
    margin-left: 68px;
  }

  .textarea-2 {
    margin-left: -13px;
  }

  .container-9 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .form-block {
    margin-top: 22px;
    margin-right: 0px;
    margin-left: 30px;
    padding-right: 0px;
    
  }

  .div-block-5 {
    margin-top: 16px;
    margin-left: 22px;
  }

  .bold-text-22 {
    margin-left: 0px;
  }

  .success-message {
    margin-right: 28px;
    margin-left: 23px;
  }

  .error-message {
    margin-left: 20px;
  }

  .error-message-2 {
    margin-right: -6px;
    margin-left: 45px;
  }

  .text-block-7 {
    margin-right: 37px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .success-message-2 {
    margin-left: 103px;
  }

  .container-12 {
    padding-left: 7px;
  }
}

@font-face {
  font-family: 'Arista2';
  src: url('../fonts/Arista2.0-light.ttf') format('truetype'), url('../fonts/Arista2.0Alternate_full.ttf') format('truetype'), url('../fonts/Arista2.0-Alternate-light.ttf') format('truetype'), url('../fonts/Arista2.0Alternate.ttf') format('truetype'), url('../fonts/Arista2.0.ttf') format('truetype'), url('../fonts/Arista2.0_fat.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-BoldItalic.ttf') format('truetype'), url('../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}